name: Docker Build and Push Image

on:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push alpine 3.12 amd64 image
        uses: docker/build-push-action@v2
        with:
          file: ./3.12-amd64/Dockerfile
          context: .
          platforms: linux/amd64
          push: true
          tags: martinussuherman/alpine:3.12-amd64

      - name: Build and push alpine 3.12 arm32v6 image
        uses: docker/build-push-action@v2
        with:
          file: ./3.12-arm32v6/Dockerfile
          context: .
          platforms: linux/arm/v6
          push: true
          tags: martinussuherman/alpine:3.12-arm32v6

      - name: Build and push alpine 3.12 arm32v7 image
        uses: docker/build-push-action@v2
        with:
          file: ./3.12-arm32v7/Dockerfile
          context: .
          platforms: linux/arm/v7
          push: true
          tags: martinussuherman/alpine:3.12-arm32v7

      - name: Build and push alpine 3.12 arm64v8 image
        uses: docker/build-push-action@v2
        with:
          file: ./3.12-arm64v8/Dockerfile
          context: .
          platforms: linux/arm64
          push: true
          tags: martinussuherman/alpine:3.12-arm64v8

      - name: Build and push alpine 3.12 i386 image
        uses: docker/build-push-action@v2
        with:
          file: ./3.12-i386/Dockerfile
          context: .
          platforms: linux/i386
          push: true
          tags: martinussuherman/alpine:3.12-i386

      - name: Build and push alpine 3.12 ppc64le image
        uses: docker/build-push-action@v2
        with:
          file: ./3.12-ppc64le/Dockerfile
          context: .
          platforms: linux/ppc64le
          push: true
          tags: martinussuherman/alpine:3.12-ppc64le

      - name: Build and push alpine 3.12 s390x image
        uses: docker/build-push-action@v2
        with:
          file: ./3.12-s390x/Dockerfile
          context: .
          platforms: linux/s390x
          push: true
          tags: martinussuherman/alpine:3.12-s390x
